{{#each results}}
<div class="container mt-3 border border-dark rounded-top">
    <h2>{{title}}</h2>
    <p><strong>{{price}}</strong></p>
    <img src={{photo}}>
    <a href={{link}} target="blank">
        <h4>Buy It Here!</h4>
    </a>
    <div class="d-flex flex-column">
        <button id={{_id}} class="checkComments btn btn-primary mb-4">Check Comments</button>
        <input id="commentBody" type="text" placeholder="Enter Your Comment"></input>
        <button class="btn btn-primary mb-3" id="postComment" data-itemid={{_id}}>Post</input>
    </div>
</div>
{{/each}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/main.js"></script>